*.rar
i.*
*.logi-*.iml
i-*.launch
*.log
web-app/images.setting/
*.imp
java.*
i*.iml
.settings/
web-app/images/
null/
web-app/img/Thumbs.db
web-app/img/gua/Thumbs.db
web-app/plugins/
.idea
idao.*
hook/
target/
