*.rar
i.*
*.logi-*.iml
i-*.launch
*.log
web-app/images.setting/
*.imp
java.*
i*.iml
.settings/
web-app/images/
web-app/img/Thumbs.db
web-app/img/gua/Thumbs.db
web-app/plugins/
.idea
idao.*
hook/
target/
web-app/*.swf
web-app/AC_OETags.js
grails-app/html-template/
src/templates/artifacts/
src/templates/scaffolding/
grails-app/views/flex/org/
grails-app/views/flex/com/i/*Base.as
web-app/history/*
.gitignore~
web-app/WEB-INF/flex/
